.page {
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: min-content 1fr min-content; */
    grid-template-rows: 1fr min-content;

    /* height: 100%; */
}

.card {
    display: grid;
    grid-template-columns: 1fr;
    align-items: end;
    grid-template-rows: max-content 1fr min-content;
    justify-items: center;
}

.list {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.input:checked+.item_leng {
    background-color: #387D82;
    color: #FFFBFC;
    font-weight: medium;
}